@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
width: 50%;
height: 50vh;

}

.topright{
    width: 50%;
    height: 50vh;
}

.section1{
    max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
}

.mylogo{
    width: 225px;
}

.section2 p{
    font-size: 0 8vw;
    text-align: center;
}

.section2 h1{
    font-size: 2.5rem;
}

.box{
    padding: 8px 0;
    margin: 12px 22px ;
    min-width: 20vw;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px;
}

.highlighted{
    font-size: 1.5rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px 0;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{
    padding: 15px;
    width: 23vw;
    border-bottom: 2px solid black;
        
}

.section3 table td{
    border-bottom: 2px solid black;
        
}

.section3 table tr{
    border-bottom: 2px solid black;
        
}

.section3 h1{
    font-size: 2.3rem;
}

.section3 {
    padding-left: 63px;
    padding-right: 63px;
}

.deal{
    font-size: 23px;
    font-weight: bolder;
    color: rgb(71, 140, 197);
    margin-top: 13px;
}

footer{
    padding: 23px;
    text-align: center;
    font-size: large;
}